language: csharp  
sudo: required  
mono: none
dotnet: 2.0.2
dist: trusty  
addons:
    apt:
        packages:
            - sshpass
before_script:
  - dotnet restore ./Details/Details.sln 
script:  
  - dotnet build ./Details/Details.sln -c Release
  - dotnet publish ./Details/Details.sln -c Release -o ./details-output/
  - sshpass -p $KOLOBOKSPASSWORD ssh koloboks@185.159.130.85 pkill -f 'dotnet' | pkill -f 'dotnet' | rm -rf /usr/details/details-output
  - sshpass -p $KOLOBOKSPASSWORD scp -r ./details-output/ koloboks@185.159.130.85:/usr/details/
  - sshpass -p $KOLOBOKSPASSWORD ssh koloboks@185.159.130.85 dotnet /usr/details/details-output/WebApplication.dll &