header {
    margin-top: 70px;
    margin-bottom: 100px;
    font-family: 'Proxima Nova Rg';
}

footer {
    font-family: 'Proxima Nova Rg';
    margin: 150px 0 100px;
}

header h1.main-header {
    font-size: 26px;
    color: #1073F8;
    font-weight: bold;
    cursor: pointer;
}

header p.description {
    font-size: 18px;
    color: #0B0B0B;
    font-weight: normal;
}

@media (max-width: 767px) {
    header h1.main-header {
        font-size: 20px;
        margin-top: 5px;
    }
    header p.description {
        font-size: 12px;
    }
    header {
        margin-bottom: 50px;
    }
    footer {
        margin-top: 100px;
    }
}

header p.phone {
    font-size: 28px;
    color: #191919;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
}

footer p.phone {
    font-size: 28px;
    color: #191919;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    text-align: center;
}

footer p.light-text {
    font-size: 12px;
    color: #171616;
    text-align: center;
}

footer div.phone-row {
    margin-top: 140px;
}

@media (min-width: 300px) {
    footer div.phone-row {
        display: none;
    }
}

@media (min-width: 375px) {
    footer div.phone-row {
        display: none;
    }
}

@media (min-width: 768px) {
    footer div.phone-row {
        display: block;
    }
}

@media (min-width: 1024px) {
    footer div.phone-row {
        display: none;
    }
}

@media (min-width: 1366px) {
    footer div.phone-row {
        display: none;
    }
}

header p.light-text {
    font-size: 12px;
    color: #171616;
}

span.red-hours {
    color: #FF0000;
}

ul.menu-round-buttons {
    list-style: none;
    padding: 0;
}

ul.footer-menu {
    list-style: none;
    padding: 0;
}

ul.footer-street {
    list-style: none;
    padding: 0;
}

ul.footer-street > li {
    display: inline-block;
    border-bottom: 1px solid rgba(16, 115, 248, .7);
    color: #0D0D0D;
    font-size: 18px;
}

ul.footer-menu > li {
    display: inline-block;
    border-bottom: 1px solid rgba(16, 115, 248, .7);
    color: #0D0D0D;
    font-size: 18px;
    cursor: pointer;
}

ul.footer-menu > li:first-child {
    margin-right: 38px;
}

ul.footer-menu > li:last-child {
    margin-left: 38px;
}

ul.menu-round-buttons > li {
    display: inline-block;
    text-align: center;
    width: 85px;
}

@media (max-width: 767px) {
    ul.menu-round-buttons > li.sm_DN {
        display: none;
    }
    ul.menu-round-buttons > li:first-child {
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    ul.menu-round-buttons > li {
        width: 79px;
    }
}

.md_DN {
    display: none;
}

@media (min-width: 375px) {
    .md_DN {
        display: none;
    }
}

@media (min-width: 768px) {
    .md_DN {
        display: none;
    }
}

@media (min-width: 1024px) {
    .md_DN {
        display: block;
    }
}

@media (min-width: 1366px) {
    .md_DN {
        display: block;
    }
}

.sm_DN {
    display: none;
}

@media (min-width: 375px) {
    .sm_DN {
        display: none;
    }
}

@media (min-width: 768px) {
    .sm_DN {
        display: block;
    }
}

@media (min-width: 1024px) {
    .sm_DN {
        display: block;
    }
}

@media (min-width: 1366px) {
    .sm_DN {
        display: block;
    }
}

div.round-button {
    width: 55px;
    height: 55px;
    border: 1px solid #1073F8;
    border-radius: 27px;
    position: relative;
    margin: 0 auto 4px;
    cursor: pointer;
}

div.round-button i.icon-menu {
    font-size: 18px;
    position: absolute;
    top: 17px;
    right: 15px;
}

div.round-button i.icon-basket {
    font-size: 22px;
    position: absolute;
    top: 15px;
    right: 15px;
}

div.round-button i.icon-phone {
    font-size: 25px;
    position: absolute;
    top: 14px;
    right: 14px;
}

div.round-button i.icon-location {
    font-size: 29px;
    position: absolute;
    top: 12px;
    right: 17px;
}

div.row.main-row {
    margin-bottom: 65px;
}

div.main-blue-button {
    font-family: 'Proxima Nova Rg';
    background-color: #2180FF;
    color: #fff;
    text-align: center;
    font-size: 26px;
    padding: 17px 0;
    max-width: 490px;
    border-radius: 45px;
}

@media (max-width: 767px) {
    div.main-blue-button {
        font-size: 18px;
        padding: 12px 0;
    }
    div.row.main-row {
        margin-bottom: 40px;
    }
}

p.main-text {
    font-size: 17px;
    font-family: 'Proxima Nova Rg';
    color: #000;
    font-weight: normal;
    margin-bottom: 0;
}

p.main-text.first-main-text {
    margin-top: 25px;
}

.mobile-buttons {
    display: none;
}

@media (max-width: 767px) {
    .mobile-buttons {
        display: block;
    }
}

.sub-header {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 23px;
    color: #1073F8;
    margin-bottom: 40px;
}

.text-paragraph {
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    color: #000;
}

.text-list {
    padding: 0;
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    color: #000;
}

.guarantee-wrapper {
    max-width: 420px;
}

.sub-header-return {
    margin-top: 40px;
}

@media (max-width: 767px) {
    .text-list {
        font-size: 12px;
    }
    .text-paragraph {
        font-size: 12px;
    }
    .sub-header {
        font-size: 17px;
    }
}

.agreement-text-list {
    padding: 0;
    list-style: none;
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    color: #000;
}

.agreement-text-list li {
    position: relative;
    margin-bottom: 15px;

}

.bold-li {
    font-weight: 600;
}

.list-numbers {
    position: absolute;
    display: inline-block;
    top: 0;
    left: -45px;
}

.agreement-dots-list {
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    color: #000;
    padding: 0;
}

@media (max-width: 767px) {
    .agreement-dots-list {
        font-size: 12px;
    }
    .agreement-text-list {
        font-size: 12px;
    }
}

.light-upper-text {
    color: #848484;
    font-size: 12px;
    font-family: 'Proxima Nova Rg';
    margin-bottom: 0px;
}

.contacts-text {
    color: #000;
    font-size: 18px;
    font-family: 'Proxima Nova Rg';
}

.contacts-small-text {
    color: #000;
    font-size: 12px;
    margin: 5px 0 0 0;
    font-family: 'Proxima Nova Rg';
}

ul.free-consultation-btn {
    background-color: #2881F9;
    margin: 10px 0 0;
    padding: 15px 10px 15px 25px;
    border-radius: 30px;
    max-width: 300px;
}

ul.free-consultation-btn > li {
    display: inline-block;
    list-style: none;
    color: #fff;
}

ul.free-consultation-btn > li:first-child {
    margin-right: 20px;
}

.contacts-block {
    margin: 25px 0 60px;
}

div.white-space {
    margin: 15px 0;
}

@media (min-width: 1366px) {
    div.white-space {
        display: none;
    }
}

@media (max-width: 1024px) {
    ul.free-consultation-btn > li:last-child {
        font-size: 12px;
    }
    ul.footer-street > li.contact-adress {
        font-size: 14px;
    }
    p.contacts-text {
        font-size: 16px;
    }
}

.mobile-messenger-text {
    display: none;
}

@media (max-width: 767px) {
    .mobile-messenger-text {
        display: block;
    }
}

.messenger-ul {
    list-style: none;
    padding: 0;
    display: none;
}

.messenger-ul > li {
    margin-bottom: 5px;
}

.social-links {
    font-size: 18px;
}

.social-links > span {
    border-bottom: 1px solid rgba(16, 115, 248, .7);
    color: #0D0D0D;
}

.social-links:active,
.social-links:focus,
.social-links:hover {
    text-decoration: none;
}

.social-arrow {
    font-size: 12px;
}

.yandex-link {
    display: none;
    margin-top: 20px;
}

.contacts-mobile-button-block {
    display: none;
}

.free-call-btn {
    margin: 20px 0;
}

@media (max-width: 767px) {
    .messenger-ul {
        display: block;
    }
    .social-links {
        font-size: 16px;
    }
    .yandex-link {
        display: block;
    }
    .contacts-block {
        margin: 25px 0 20px;
    }
    .contacts-mobile-button-block {
        display: block;
    }
}
