* {
    font-family: 'Proxima Nova Rg';
}

header {
    margin-top: 70px;
    margin-bottom: 100px;
}

h1, h2 {
    letter-spacing: 1px;
}

footer {
    margin: 150px 0 100px;
}

header h1.main-header {
    font-size: 26px;
    color: #1073F8;
    font-weight: bold;
    cursor: pointer;
}

header p.description {
    font-size: 18px;
    color: #0B0B0B;
    font-weight: normal;
}

@media (max-width: 767px) {
    header h1.main-header {
        font-size: 20px;
        margin-top: 5px;
    }
    header p.description {
        font-size: 12px;
    }
    header {
        margin-bottom: 50px;
    }
    footer {
        margin-top: 100px;
    }
}

header p.phone {
    font-size: 28px;
    color: #191919;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
}

footer p.phone {
    font-size: 28px;
    color: #191919;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    text-align: center;
}

footer p.light-text {
    font-size: 12px;
    color: #171616;
    text-align: center;
}

footer div.phone-row {
    margin-top: 140px;
}

@media (min-width: 300px) {
    footer div.phone-row {
        display: none;
    }
}

@media (min-width: 375px) {
    footer div.phone-row {
        display: none;
    }
}

@media (min-width: 768px) {
    footer div.phone-row {
        display: block;
    }
}

@media (min-width: 1024px) {
    footer div.phone-row {
        display: none;
    }
}

@media (min-width: 1366px) {
    footer div.phone-row {
        display: none;
    }
}

header p.light-text {
    font-size: 12px;
    color: #171616;
}

span.red-hours {
    color: #FF0000;
}

ul.menu-round-buttons {
    list-style: none;
    padding: 0;
}

ul.footer-menu {
    list-style: none;
    padding: 0;
}

ul.footer-street {
    list-style: none;
    padding: 0;
}

ul.footer-street > li {
    display: inline-block;
    border-bottom: 1px solid rgba(16, 115, 248, .7);
    color: #0D0D0D;
    font-size: 18px;
}

ul.footer-menu > li {
    display: inline-block;
    border-bottom: 1px solid rgba(16, 115, 248, .7);
    color: #0D0D0D;
    font-size: 18px;
    cursor: pointer;
}

ul.footer-menu > li > a {
    color: #0D0D0D;
    text-decoration: none;
}

ul.footer-street > li > a {
    color: #0D0D0D;
    text-decoration: none;
}

ul.footer-menu > li:first-child {
    margin-right: 38px;
}

ul.footer-menu > li:last-child {
    margin-left: 38px;
}

ul.menu-round-buttons > li {
    display: inline-block;
    text-align: center;
    width: 85px;
}

@media (max-width: 767px) {
    ul.menu-round-buttons > li.sm_DN {
        display: none;
    }
    ul.menu-round-buttons > li:first-child {
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    ul.menu-round-buttons > li {
        width: 79px;
    }
}

div.round-button {
    width: 55px;
    height: 55px;
    border: 1px solid #1073F8;
    border-radius: 27px;
    position: relative;
    margin: 0 auto 4px;
    cursor: pointer;
}

div.round-button i.icon-menu {
    font-size: 18px;
    position: absolute;
    top: 17px;
    right: 15px;
}

div.round-button i.icon-basket {
    font-size: 22px;
    position: absolute;
    top: 15px;
    right: 15px;
}

div.round-button i.icon-phone {
    font-size: 25px;
    position: absolute;
    top: 14px;
    right: 14px;
}

div.round-button i.icon-location {
    font-size: 29px;
    position: absolute;
    top: 12px;
    right: 17px;
}

div.row.main-row {
    margin-bottom: 65px;
}

div.main-blue-button {
    background-color: #2180FF;
    color: #fff;
    text-align: center;
    font-size: 26px;
    padding: 17px 0;
    max-width: 490px;
    border-radius: 45px;
    cursor: pointer;
}

@media (max-width: 767px) {
    div.main-blue-button {
        font-size: 18px;
        padding: 12px 0;
    }
    div.row.main-row {
        margin-bottom: 40px;
    }
}

p.main-text {
    font-size: 17px;
    color: #000;
    font-weight: normal;
    margin-bottom: 0;
}

p.main-text.first-main-text {
    margin-top: 25px;
}

.mobile-buttons {
    display: none;
}

@media (max-width: 767px) {
    .mobile-buttons {
        display: block;
    }
}

.sub-header {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 23px;
    color: #1073F8;
    margin-bottom: 40px;
}

.text-paragraph {
    font-size: 18px;
    color: #000;
}

.text-list {
    padding: 0;
    font-size: 18px;
    color: #000;
}

.guarantee-wrapper {
    max-width: 420px;
}

.sub-header-return {
    margin-top: 40px;
}

@media (max-width: 767px) {
    .text-list {
        font-size: 11px;
    }
    .text-paragraph {
        font-size: 11px;
    }
    .sub-header {
        font-size: 17px;
    }
}

.agreement-text-list {
    padding: 0;
    list-style: none;
    font-size: 18px;
    color: #000;
}

.agreement-text-list li {
    position: relative;
    margin-bottom: 15px;

}

.bold-li {
    font-weight: 600;
}

.list-numbers {
    position: absolute;
    display: inline-block;
    top: 0;
    left: -45px;
}

.agreement-dots-list {
    font-size: 18px;
    color: #000;
    padding: 0;
}

@media (max-width: 767px) {
    .agreement-dots-list {
        font-size: 12px;
    }
    .agreement-text-list {
        font-size: 12px;
    }
}

.light-upper-text {
    color: #848484;
    font-size: 12px;
    margin-bottom: 0px;
}

.contacts-text {
    color: #000;
    font-size: 18px;
}

.contacts-small-text {
    color: #000;
    font-size: 12px;
    margin: 5px 0 0 0;
}

ul.free-consultation-btn {
    background-color: #2881F9;
    margin: 10px 0 0;
    padding: 15px 10px 15px 25px;
    border-radius: 30px;
    max-width: 300px;
}

ul.call-btn {
    background-color: transparent;
    margin: 10px 0 0;
    padding: 10px 10px 10px 25px;
    border-radius: 30px;
    width: 200px;
    border: 1px solid #fff;
    cursor: not-allowed;
    margin: 0 auto;
}

ul.call-btn > li {
    display: inline-block;
    list-style: none;
    color: #fff;
}

ul.call-btn > li:first-child {
    vertical-align: top;
    margin-top: 13px;
    margin-right: 40px;
}

ul.call-btn.active {
    cursor: pointer;
    background-color: #fff;
}

ul.call-btn.active li:first-child {
    color: #1073F8;
}

ul.call-btn.active li:last-child {
    color: #000;
}

ul.free-consultation-btn > li {
    display: inline-block;
    list-style: none;
    color: #fff;
}

ul.free-consultation-btn > li:first-child {
    margin-right: 20px;
}

.contacts-block {
    margin: 25px 0 60px;
}

div.white-space {
    margin: 15px 0;
}

@media (min-width: 1366px) {
    div.white-space {
        display: none;
    }
}

@media (max-width: 1024px) {
    ul.free-consultation-btn > li:last-child {
        font-size: 12px;
    }
    ul.footer-street > li.contact-adress {
        font-size: 14px;
    }
    p.contacts-text {
        font-size: 16px;
    }
}

.mobile-messenger-text {
    display: none;
}

@media (max-width: 767px) {
    .mobile-messenger-text {
        display: block;
    }
}

.messenger-ul {
    list-style: none;
    padding: 0;
    display: none;
}

.messenger-ul > li {
    margin-bottom: 5px;
}

.social-links {
    font-size: 18px;
}

.social-links > span {
    border-bottom: 1px solid rgba(16, 115, 248, .7);
    color: #0D0D0D;
}

.social-links:active,
.social-links:focus,
.social-links:hover {
    text-decoration: none;
}

.social-arrow {
    font-size: 12px;
}

.yandex-link {
    display: none;
    margin-top: 20px;
}

.contacts-mobile-button-block {
    display: none;
}

.free-call-btn {
    margin: 20px 0;
}

@media (max-width: 767px) {
    .messenger-ul {
        display: block;
    }
    .social-links {
        font-size: 16px;
    }
    .yandex-link {
        display: block;
    }
    .contacts-block {
        margin: 25px 0 20px;
    }
    .contacts-mobile-button-block {
        display: block;
    }
}

.payment-logo {
    margin-top: 20px;
}

.delivery-row-wrapper {
    position: relative;
    height: 50px;
    margin-bottom: 30px;
}

.delivery-row {
    position: absolute;
    left: 0;
}

.delivery-tab {
    border: 2px dotted transparent;
    padding: 10px 15px;
    color: #000;
}

a.delivery-tab:hover,
a.delivery-tab:active,
a.delivery-tab:focus {
    color: #000;
    text-decoration: none !important;
}

.delivery-tab.active {
    border: 2px dotted #1073F8;
    border-radius: 30px;
    font-weight: 600;
}

.delivery-bold {
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

@media (max-width: 767px) {
    .delivery-bold {
        font-size: 12px;
    }
}

.delivery-list-numbers {
    position: absolute;
    display: inline-block;
    top: 7px;
    color: #161616;
    left: -17px;
    font-size: 10px;
}

.payment-logo-ul {
    padding: 0;
    list-style: none;
}

@media (max-width: 1024px) {
    .payment-logo-ul li {
        display: inline-block;
    }

    .payment-logo-ul li:last-child {
        margin-left: 20px;
    }
}

.greetings-test {
    font-size: 23px;
}

@media (max-width: 767px) {
    .greetings-test {
        font-size: 14px;
    }
}

.about-ul-wrapper {
    position: relative;
    height: 90px;
    display: block;
}

.cars-logo-ul {
    padding: 0;
    list-style: none;
}

.cars-logo-ul li {
    width: 100px;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 1024px) {
    .cars-logo-ul li {
        display: inline-block;
        margin-right: 8px;
    }
    .cars-logo-ul {
        position: absolute;
        width: 650px;
        left: -85px;
        right: 0;
    }
}

@media (max-width: 768px) {
    .cars-logo-ul li {
        display: inline-block;
        margin-right: 0;
    }
    .cars-logo-ul {
        position: absolute;
        width: 650px;
        left: -85px;
        right: 0;
    }
}

.about-ul-mobile-view {
    display: none;
}

@media (max-width: 767px) {
    .about-ul-mobile-view {
        display: block;
    }
}

.cars-logo-mobile-ul {
    padding: 0;
    list-style: none;
}

.cars-logo-mobile-ul li {
    display: inline-block;
}

.call-modal {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #3489FC;
    z-index: 10;
}

.white-header {
    color: #fff;
    font-size: 25px;
    font-family: 'Proxima Nova Lt';
    margin-bottom: 20px;
}

.white-text {
    color: #fff;
    font-size: 15px;
    opacity: 0.8;
}

.white-input-label {
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 40px;
}

.modal-center-content {
    text-align: center;
    margin-top: 150px;
    width: 100%;
}

input.white-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 25px;
    padding: 0 124px 5px;
    text-align: center;
    margin-top: 10px;
    opacity: 0.8;
}

.checkbox {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    position: relative;
    cursor: pointer;
}

.checkbox.active {
    background-color: #7ED321;
}

.checkbox .checkbox-icon {
    display: none;
}

.checkbox.active .checkbox-icon {
    display: block;
}

.checkbox-icon {
    position: absolute;
    left: 4px;
    top: 6px;
}

.white-checkbox-ul {
    padding: 0;
}

.white-checkbox-ul li {
    display: inline-block;
    list-style: none;
}

.white-checkbox-ul li:first-child {
    margin-right: 30px;
}

.white-checkbox-ul li:last-child {
    vertical-align: middle;
}

.checkbox-label {
    color: #fff;
}

.back-button {
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    width: 44px;
    margin: 30px auto;
    cursor: pointer;
    opacity: 0.8;
}

.back-button:hover {
    opacity: 1;
}

/*View Helpers*/
.sm_DN {
    display: none;
}

.md_DN {
    display: none;
}

.lg_DN {
    display: none;
}

@media (min-width: 375px) {
    .sm_DN {
        display: none;
    }
    .md_DN {
        display: none;
    }
}

@media (min-width: 768px) {
    .sm_DN {
        display: block;
    }
    .md_DN {
        display: none;
    }
    .lg_DN {
        display: block;
    }
}

@media (min-width: 1024px) {
    .sm_DN {
        display: block;
    }
    .md_DN {
        display: block;
    }
    .lg_DN {
        display: none;
    }
}

@media (min-width: 1366px) {
    .sm_DN {
        display: block;
    }
    .md_DN {
        display: block;
    }
    .lg_DN {
        display: none;
    }
}
/*End of View Helpers*/
